<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.media" class="patternLink"}}Media{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/media"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.headline-byline" class="patternLink"}}Headline Byline{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/headline-byline"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.hero" class="patternLink"}}Hero{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/hero"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.thumb-headline" class="patternLink"}}Thumb Headline{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/thumb-headline"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.headline" class="patternLink"}}Headline{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/headline"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.blocks.inset" class="patternLink"}}Inset{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/blocks/inset"}}
</div>
