<h2 class="sg-pattern-head">
    {{#link-to "atoms.forms.text-fields" class="patternLink"}}Text Fields{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/forms/text-fields"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.forms.select-menu" class="patternLink"}}Select Menu{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/forms/select-menu"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.forms.checkbox" class="patternLink"}}Checkbox{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/forms/checkbox"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.forms.radio-buttons" class="patternLink"}}Radio Buttons{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/forms/radio-buttons"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.forms.html5-inputs" class="patternLink"}}HTML5 Inputs{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/forms/html5-inputs"}}
</div>
