<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.headings" class="patternLink"}}Headings{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/headings"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.paragraph" class="patternLink"}}Paragraph{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/paragraph"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.blockquote" class="patternLink"}}Blockquote{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/blockquote"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.inline-elements" class="patternLink"}}Inline Elements{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/inline-elements"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.time" class="patternLink"}}Time{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/time"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.preformatted-text" class="patternLink"}}Preformatted Text{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/preformatted-text"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.text.hr" class="patternLink"}}Hr{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/text/hr"}}
</div>
