<h2 class="sg-pattern-head">
    {{#link-to "molecules.text.byline" class="patternLink"}}Byline{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/text/byline"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.text.address" class="patternLink"}}Address{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/text/address"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.text.heading-group" class="patternLink"}}Heading Group{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/text/heading-group"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.text.blockquote-with-citation" class="patternLink"}}Blockquote With Citation{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/text/blockquote-with-citation"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.text.intro-text" class="patternLink"}}Intro Text{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/text/intro-text"}}
</div>

