<h2 class="sg-pattern-head">
    {{#link-to "molecules.navigation.primary" class="patternLink"}}Primary Nav{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/navigation/primary"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.navigation.footer" class="patternLink"}}Footer Nav{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/navigation/footer"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.navigation.breadcrumbs" class="patternLink"}}Breadcrumbs{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/navigation/breadcrumbs"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.navigation.pagination" class="patternLink"}}Pagination{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/navigation/pagination"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.navigation.tabs" class="patternLink"}}Tabs{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/navigation/tabs"}}
</div>
