<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.logo" class="patternLink"}}Logo{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/logo"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.landscape4x3" class="patternLink"}}Landscape 4x3{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/landscape4x3"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.landscape16x9" class="patternLink"}}Landscape 16x9{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/landscape16x9"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.square" class="patternLink"}}Square{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/square"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.avatar" class="patternLink"}}Avatar{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/avatar"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.icons" class="patternLink"}}Icons{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/icons"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.loading-icon" class="patternLink"}}Loading Icons{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/loading-icon"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.images.favicon" class="patternLink"}}Favicon{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/images/favicon"}}
</div>
